/* Create in the root some colors */

/* Path: style.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    color: white;
    border: 5px solid black;
    padding: 10px 5px 20px 0px;
    margin: 20px 50px 5px;
    width: fit-content;
    transition: all 0.5s;
}

.caja:hover{
    transform: rotate(45deg);
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}