/* Create in the root some colors */

/* Path: style.css */


body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: -webkit-box;
    height: 100vh;
}

.caja{
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin: auto;
}